.main-content.content-device {
    height: 100%;
    overflow: auto;
}

.device-header {
    padding: 10px;
}

.device-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.device-group {
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 0px #e5e5e5;
}

.device-group-title {
    position: relative;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.device-group-title .option {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 4px;
}

.device-group-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.device-group-list li {
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    padding: 0 10px;
    position: relative;
}

.device-group-list li .device-name {
    float: left;
    /*margin: 8px;*/
    padding: 10px 10px;
    /*padding: 1px;*/
    font-size: 14px;
    /*background-color: rgb(86, 198, 247);*/
    /*color: #ffffff;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
}

.device-name .device-name-1 {
    display: block;
}

.device-name .device-name-2 {
    display: block;
}

.device-group-list li .device-status {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 2px;
}

.device-group-list li .device-status.success {
    background-color: #006600;
}

.device-group-list li .device-status.warning {
    background-color: #dfbe27;
}

.device-group-list li .device-status.error {
    background-color: #9c0d25;
}

.device-group-list li .device-op {
    float: right;
    /*padding: 9px;*/
}

.device-type {
    float: left;
    padding: 9px 0;
}

.device-op-info {
    float: left;
    padding: 9px;
}

.device-op-terminal {
    float: left;
    padding: 2px;
}

.device-op-terminal .iconfont {
    font-size: 25px;
}

.device-group-title .edit {
    position: absolute;
    padding-left: 10px;
    cursor: pointer;
    display: none;
}

.device-group-title:hover .edit {
    display: inline-block;
}

.device-group-oplist .popover-content {
    padding: 0;
}

.device-group-oplist ul {
    padding: 0;
    list-style: none;
}

.device-group-oplist ul li {
    padding: 5px 10px;
    cursor: pointer;
}

.device-group-oplist ul li:hover {
    background-color: #e5e5e5;
}

.device-group-title .name {
    position: relative;
    margin: auto;
    width: 170px;
    cursor: move;
}

.device-group-title .name span {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.top-index {
    z-index: 999 !important;
}
.aside-device-add {
    min-width: 500px;
}